<!DOCTYPE html>
<html>
<head>
	<title>Vaidyah|Help</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container">
			<h4 class="header" align="center">Your Doctor. Everywhere. For Free</h4>
	         <div>
	         		<a class="navbar-brand" href="{% url 'appointment:index' %}">
				<i class="fa fa-heartbeat" style="font-size:36px;color:red;object-position: : center;">
				<span style="color: red;font-size: 25; font-family: Baumans" area-hidden="true">Vaidyah</span></i>
					</a>
	       </div>

	</div>
	<div class="container">
		<div class="card bg-light text-dark">
	<div class="card-body"><h3>You can contact us on <a href="">vaidyah.me@gmail.com</a></h3></div></div>
	</div>
</body>
</html>