<!DOCTYPE html>
<html>
<head>
	<title>Vaidyah|Martial Himanshu</title>
	 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

<!-- user defined stylesheet -->
<link rel="stylesheet" type="text/css" href="static/css/">
</head>
<body>
	<div class="container">
		<div class="col col-md-12">
			<h2>Vaidyah</h2>
			<p>Locate And Contact Doctors Nearby You</p>
			<div class="card">
				<form dir="form-group" method="POST" action="#" accept-charset="utf-8">
					<div class="row">
						<input class="searchfield" id="searchbox" type="Text" name="q" placeholder="Enter Location">
					</div>
					<p></p>
					<button class="btn btn-default" type="submit">
						<i class="fa fa-search">Search</i>
					</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>