<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1> Hi {{ name }} </h1><br><p>Your registered email: {{ email }} and phone: {{ phone }} with us used to fix appointment for {{ service }} with Dr. {{ doctor }} on date {{ current_date }}.</p>
<p>Your booked slot is {{ slot }}, Please reach on time to get serve better </p>
<h3>Your query is:</h3><p> {{ message }} </p>
<br><p>Please reach us again, we will happy to help you</p>
	
<h3> Thanks </h3>
<h2>Vaidyah Team.</h2>

</body>
</html>